* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    line-height: 1;
    position: relative;
    background-color: #FFFFFF;
}

ol, ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.wrapper {
    max-width: 1140px;
    margin: 0 auto;
}

.flex {
    display:flex;
}