@import "global.css";
@import "fonts.css";

.header {
    position: relative;
    margin-bottom: 160px;
}

.header__background-rectangle {
    position: absolute;
    right: -15px;
    top: 0;
    z-index: -1;
}

.header__background-pug {
    position: absolute;
    right: 5px;
    top: 76px;
    mix-blend-mode: darken;
    z-index: -1;
}

.nav {
    padding: 30px 0;
    justify-content: space-between;
}

.nav__logo {
    flex-basis: 86px;
    max-width: 86px;
}
.nav__logo-link{
    flex-direction: row;
    align-items: center;
    font-family: 'Roboto Medium', sans-serif;
    font-size: 22px;
    line-height: 26px;
    color: #000000;
}

.nav__logo-link  img {
    padding-right: 5px;
}

.nav__menu {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-basis: 394px;
    max-width: 394px;
}

.nav__menu-link {
    font-family: 'Roboto Regular', sans-serif;
    font-size: 16px;
    line-height: 19px;
    color: #170C04;
}

.nav__menu-sub {
    justify-content: space-between;
    flex-basis: 138px;
    max-width: 138px;
}

.hero-banner {
    padding-top: 118px;
    padding-bottom: 137px;
    flex-direction: column;
    justify-content: center;
}

.hero-banner__btn {
    flex-direction: row;
    justify-content: flex-start;
}

.hero-banner__btn div{
    margin-right: 20px;
}

.hero-banner h1 {
    font-family: 'Poppins Bold', sans-serif;
    font-size: 100px;
    line-height: 120px;
    color: #170C04;
    margin-bottom: 50px;
    max-width: 600px;
}

.btn {
    border-style: solid;
    border-width: 1px;
    display: inline-block;
}

.btn_orange {
    background-color: #E27B3A;
    border-color: #FFFFFF;
}

.btn_white {
    background-color: #FFFFFF;
    border-color: #E27B3A;
}

.btn_round {
    border-radius: 24px;
}

.btn_soft-sqr {
    border-radius: 4px;
}

.btn__link {
    padding: 12px 30px;
    display: block;
    font-family: 'Roboto Regular', sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #E27B3A;
}

.btn__link_white {
    color: #FFFFFF;
}

.features {
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 144px;
}

.feature-item {
    padding: 40px 25px 18px 25px;
    flex-basis: 360px;
    max-width: 360px;
    position: relative;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid rgba(0, 0, 0, .1);
    border-radius: 8px;
    transition: all ease-out 1s;
}

.feature-item:hover {
    box-shadow: 0 0 8px rgba(226, 123, 58, 0.2);
    border-color: transparent;
}

.feature-item img {
    position: absolute;
    text-align: center;
    top: -29px;
    right: calc((100% - 64px) / 2 );
}

.feature-item h2 {
    font-family: 'Poppins Regular', sans-serif;
    font-weight: normal;
    font-size: 25px;
    line-height: 37px;
    text-align: center;
    margin-bottom: 11px;
}

.feature-item p {
    font-family: 'Roboto Regular', sans-serif;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: rgba(23, 12, 4, .6);
    margin-bottom: 24px;
}

.feature-item a {
    font-family: 'Roboto Regular', sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #E27B3A;
    text-align: center;
}